	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/Site/about/"><span class="btn btn-inverse">Read More</span></a></li>
					<li><a href="{{ site.url }}/Site/resume/"><span class="btn btn-inverse">Resume</span></a></li>
					{% if site.email %}<li>
						<a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i> {{ site.email }}</a>
					</li>{% endif %}
					{% if site.linkedin %}<li>
						<a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
					</li>{% endif %}
					{% if site.instagram %}<li>
						<a href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
					</li>{% endif %}
					{% if site.github_url %}<li>
						<a href="http://github.com/{{ site.github_url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
					</li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<a href="#">Posts</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/Site/posts/">All Posts</a></li>
					<li><a href="{{ site.url }}/Site/tags/">All Tags</a></li>
					<li><a href="{{ site.url }}/Site/posts/Life">Tag : Life</a></li>
					<li><a href="{{ site.url }}/Site/posts/Tips/">Tag : Dev Tips</a></li>
					<li><a href="{{ site.url }}/Site/posts/Graphics">Tag : Graphics</a></li>
					<li><a href="{{ site.url }}/Site/posts/ML">Tag : ML</a></li>
				</ul>
			</li>
			<li><a href="{{ site.url }}/Site/projects/">Projects</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/Site/projects/">All Projects</a></li>
					<li><a href="{{ site.url }}/Site/posts/Project Android">Project : Android</a></li>
					<li><a href="{{ site.url }}/Site/posts/Project Graphics/">Project : Graphics</a></li>
					<li><a href="{{ site.url }}/Site/posts/Project Unreal">Project : Unreal</a></li>
				</ul>
			</li>
			<li><a href="{{ site.url }}/Site/posts/Toys/">3D Toys</a></li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
