    <!-- JS -->
    <script src="{{ site.url }}/Site/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/Site/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/Site/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/Site/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/Site/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/Site/assets/js/scripts.js"></script>
    {% if comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
