{% assign select_tag = include.select %}



{% for post in site.posts %} 
    {% if post.project == null %}
    <ul>
        <h3> {{select_tag}}</h3>

        <li class="wow fadeInLeft" data-wow-duration="1.5s">
            <hr style="border: outset 1px gray;">
            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">
                {{ post.title }}
                {% if post.img %}<img src="{{ post.img }}" height="20px" width="40px">{% else %}<img src="../assets/img/no-image-available.jpg" height="30px" width="40px">{% endif %}
                {{ post.excerpt }}
            </a>
            
        </li>
    </ul>
    {% endif %}
{% endfor %}