<header class="nav">
    <div class="wrap nav-inner">
        <a class="nav-brand" href="{{ site.url }}/">Jaeeun(Jalen) Yang<span class="dot">.</span></a>
        <nav class="nav-links">
            <a href="{{ site.url }}/#about">About</a>
            <a href="{{ site.url }}/#skills">Skills</a>
            <a href="{{ site.url }}/#experience">Experience</a>
            <a href="{{ site.url }}/Site/projects/">Projects</a>
            <a href="{{ site.url }}/Site/posts/">Blog</a>
            <a class="cta" href="{{ site.url }}/Site/resume/">Resume</a>
        </nav>
    </div>
</header>
