<!DOCTYPE html>
<html lang="en">
<head>
    {% include dochead.html %}
</head>
<body>
    {% include topnav.html %}
    <main class="page">
        <div class="wrap">
            <a class="backlink" href="{{ site.url }}/Site/posts/">← All posts</a>
            <div class="page-head">
                <h1>{{ title }}</h1>
                <p class="sub">Posts tagged “{{ category }}”.</p>
            </div>
            <div class="postlist">
                {% assign cat_posts = collections.post | filterByTag: category %}
                {% for post in cat_posts %}
                <a class="row" href="{{ site.url }}{{ post.url }}">
                    {% if post.data.img %}<img class="thumb" src="{{ post.data.img }}" alt="">{% else %}<img class="thumb" src="{{ site.url }}/Site/assets/img/no-image-available.jpg" alt="">{% endif %}
                    <span class="t">{{ post.data.title }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include sitefooter.html %}
</body>
</html>
