---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                            <p style="font-size:1.2rem;font-weight:300">
                            <img src="{{ site.icon }}"> {{ site.name }}
                            </p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}


                  <br>
                  <hr class="hr-line">
                  <br>


                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/Site/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/Site/tags">
                         All Tags
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/Site/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/Site/projects">
                         Projects
                         </a>
                 </h3>


                 <br>
                <h3 class="title">
                    Frequently Tags
                </h3>

                {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign tags_list = site_tags | split:',' | sort %}
                
                <ul class="entry-meta inline-list">
                    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
                    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
                        {% if this_word == "Life" or this_word == "Graphics" or this_word == "Tips" or this_word == "ML" or this_word == "Study" %}
                        <li><a href="Site/posts/{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
                        {% endif %}
                    {% endunless %}{% endfor %}
                    <!-- <li><a class="tag" href="{{ site.url }}/Site/tags"><span class="term">All Tags</span></a></li> -->
                </ul>



                <br>
                <h3 class="title">
                    Projects
                </h3>

                {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign tags_list = site_tags | split:',' | sort %}
                
                <ul class="entry-meta inline-list">
                    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
                    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
                        {% if this_word == "Project Android" or this_word == "Project Graphics" or this_word == "Project Unreal" %}
                        <li><a href="Site/posts/{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
                        {% endif %}
                    {% endunless %}{% endfor %}
                </ul>
                        
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
